.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px 0px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.headerImage {
    width: 42px;
}

.headerTitle {
    font-size: 32px;
    font-weight: 400;
}