.addIngredientForm {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 64px 0;
}

.addIngredientForm > input {
    flex-grow: 1;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    min-width: 150px;
    max-width: 400px;
}

.addIngredientForm > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.addIngredientForm > button::before {
    content: "+";
    margin-right: 5px;
}

h2.ingredientHandTitle {
    padding-bottom: 16px;
}

ul.ingredientsList {
    margin-bottom: 48px;
    margin-left: 24px;
}

ul.ingredientsList > li {
    color: #475467;
    line-height: 28px;
}

.getRecipeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 24px 32px;
}

.getRecipeContainerr h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.getRecipeContainer p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.getRecipeContainer button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-size: 0.875rem;
    cursor: pointer;
}