.mainContainer {

}
.addIngredientForm {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding:64px ;
}

.addIngredientForm > input {
    flex-grow: 1;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    min-width: 150px;
    max-width: 400px;
}

.addIngredientForm > button {
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-size: 0.875rem;
    font-weight: 500;
}

.addIngredientForm > button::before {
    content: "+";
    margin-right: 5px;
}