* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white;
    color: black;
    font-family: Inter, sans-serif;
}
 
/* utility class */
.container {
    max-width: 650px;
    margin: 0 auto;   /* centers it */
    padding: 0 20px;  /* safety gap for mobile*/
}
