.suggestedRecipeContainer {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggestedRecipeContainer ul li, .suggestedRecipeContainer ol li {
    margin-bottom: 8px;
}

.suggestedRecipeContainer h3, .suggestedRecipeContainer h4 {
    margin-bottom: 4px;
}

/* Targets the last item in both <ul> and <ol> */
.suggestedRecipeContainer ul li:last-child, 
.suggestedRecipeContainer ol li:last-child {
    margin-bottom: 16px; /* Set your custom margin here */
}

.suggestedRecipeContainer p {
    margin-bottom: 16px;
}