.journalEntry {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 32px;
}

.contryImage {
    width: 40px;
}

.mainImageContainer {
    width: 125px;
    height: 168px;
    overflow: hidden; 
    border-radius: 5px;
    flex-shrink: 0;
}

.mainImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.locationIcon {
    width: 7px;
    margin-right: 4px;
}

.countryName {
    color: black;
    font-size: 10.24px;
    font-weight: 300;
    text-transform: uppercase; 
    margin-right: 16px;
} 

.googleMaps {
    color: #918E9B;
    font-weight: 300px;
    font-size: 10.24px;
}

.intrestName {
    font-size: 25px;
    font-weight: 700;
}

.date {
    font-size: 10.24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.text {
    font-size: 10.24px;
    font-weight: 300;
    line-height: 150%;
}


